
///*:::PRIMARY:::*//* Portrait tablet to landscape and desktop 
//------------------------------------------------------*/
@media(min-width:980px) and (max-width:1279px){
    .w-part{width:950px;}
    //.border-bg{width:900px;margin-left: -450px;}
    //.banner{background-size: 1280px auto; height: 546px;
    //    .banner-img{background-size: auto 420px; height: 420px;}
    //    .banner-txt{padding-top:80px;}
    //    .p1{font-size: 32px;
    //        .c-yellow{font-size: 60px;}
    //    }
    //    .p2{font-size: 26px;margin-bottom: 60px;margin-top: 4px;}
    //    .p3{font-size: 15px;
    //        .c-yellow{font-size: 54px;margin-top:-40px;margin-left: 8px;}
    //        & + .p3{margin-top: 12px;}
    //    }
    //    .btn-group{margin-top: 65px;}
    //}
}

